This is a file for Juffs' Notes on Pandas.
Todo3, September 11, 2017.
juffs@pitt.edu

I am updating these notes for 'todo4'.
Specifically, I looked at Paige Haring's code as she is in my group and seems very good at getting the code correct.

These are notes about dictionaries

In [5]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe["italy"] = 'rome'

# Print out italy in europe
print("italy" in europe)

# Add poland to europe
europe["poland"] = 'warsaw'

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

I note that this code works, whereas in the Python data camp, this code does NOT work.

In [6]:
europe['germany'] = 'bonn'

In [7]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

You can build DATA FRAMES in Pandas from lists, as follows. Note that the dictionary can summarized for 'dict' using the names of the lists and the values do not have to be retyped. Remember that booleans and floats do not have '...', whereas str MUST have '...'.

In [13]:
import pandas as pd
# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)

# If you print the result of this code, you get numbered row labels. You can add them thus:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again with the row labels
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

However, creating all of your own files with lists and dictionaries is not very efficient. Instead, it is easier to read in .csv files and perform operations on those. Here are some real data from the ELI data project. It's a data file with a list of participants, a list of their L1s and their proficiency scores. I note that 'missing values' are indicated with a 
NaN string? Something to be looked into later.

In [14]:
import pandas as pd
ELIProfic = pd.read_csv("/Users/Juffs/Documents/Data_Science/Class-Practice-Repo/todo3/Pandas_Juffs_CSV.csv")

In [17]:
ELIProfic

    DB ID       L1  Listening  MTELP  Writing
0      71  chinese       10.0   56.0      NaN
1     118  chinese       23.0   61.0      NaN
2     270  chinese       12.0   35.0      1.5
3     298  chinese       16.0   57.0      4.0
4     299  chinese       10.0   42.0      3.3
5     447  chinese       21.0   55.0      3.2
6     201  chinese       22.0   66.0      NaN
7     278  chinese       25.0   69.0      NaN
8     396  chinese       23.0   77.0      3.8
9     441  chinese       21.0   62.0      3.5
10    453  chinese       23.0   63.0      2.8
11    491  chinese       23.0   71.0      3.3
12    492  chinese       17.0   58.0      3.8
13    634  chinese       21.0   59.0      3.5
14    813  chinese       27.0   65.0      3.5
15    967  chinese       26.0   67.0      4.3
16    971  chinese       26.0   60.0      3.6
17    975  chinese       12.0   62.0      4.3
18    998  chinese       21.0   63.0      3.3
19   1187  chinese       24.0   60.0      3.5
20   1199  chinese       22.0   64.0      3.8
21    306   korean       18.0   46.0      2.6
22    307   korean       27.0   48.0      3.0
23    371   korean       24.0   72.0      3.0
24    379   korean       20.0   64.0      3.8
25    380   korean       20.0   70.0      4.6
26    433   korean       19.0   46.0      3.8
27    444   korean       16.0   70.0      2.5
28    445   korean       28.0   77.0      3.0
29    488   korean       22.0   68.0      3.5
..    ...      ...        ...    ...      ...
41    159   arabic       15.0   48.0      3.0
42    163   arabic       11.0   60.0      2.0
43    172   arabic       13.0   47.0      2.3
44    310   arabic       18.0   48.0      3.0
45    352   arabic       15.0   45.0      2.5
46    407   arabic       13.0   48.0      2.2
47    716   arabic       19.0   48.0      3.4
48    756   arabic       20.0   46.0      3.0
49    825   arabic       21.0   47.0      2.8
50    893   arabic       18.0   45.0      3.3
51    949   arabic       11.0   44.0      2.0
52    953   arabic       20.0   46.0      3.3
53   1151   arabic       21.0   53.0      3.0
54   1051   arabic       16.0   56.0      2.0
55   1060   arabic       14.0   41.0      3.7
56   1062   arabic       16.0   55.0      2.0
57   1068   arabic       21.0   48.0      4.7
58   1077   arabic       16.0   46.0      4.2
59   1152   arabic       19.0   45.0      2.5
60   1158   arabic       11.0   59.0      3.0
61   1166   arabic       21.0   45.0      4.2
62    279   arabic       17.0   60.0      4.0
63    338   arabic       23.0   70.0      3.5
64    638   arabic       19.0   65.0      3.0
65    838   arabic       19.0   45.0      3.3
66    839   arabic       21.0   55.0      3.7
67    906   arabic       18.0   45.0      3.7
68   1005   arabic       19.0   60.0      3.5
69   1019   arabic       21.0   67.0      4.1
70   1168   arabic       23.0   70.0      3.3

[71 rows x 5 columns]

From Paige's code,  I learned the the following:
    1. You can comment on the code with the # sign in the same line as code.
    2. You can print everything with '\n'
    3. You have to pay attention to the [ ] and ().

In [2]:
import numpy as np
import pandas as pd
avgs = {'Cary': 90, 'Alex': 95, 'Stephanie': 70, 'Steven':63}
student_avgs = pd.Series(avgs) #NOTE: The dictionary is rearranged alphabetically by key
print(student_avgs, '\n')
print(student_avgs['Alex'], '\n')
print(student_avgs['Alex':'Stephanie']) #NOTE: This includes the value at the Stephanie index

Alex         95
Cary         90
Stephanie    70
Steven       63
dtype: int64

95

Alex         95
Cary         90
Stephanie    70
dtype: int64

In Andrew Ryan's code, I noticed this data set where he called random numbers and created a bingo sheet. But if, they're random # why are my numbers the same as his or if I run it twice?

In [3]:
rng = np.random.RandomState(42)
bingo = pd.DataFrame(rng.randint(0, 100, (5, 5)),
                  columns=['B', 'I', 'N', 'G', 'O'])
bingo

    B   I   N   G   O
0  51  92  14  71  60
1  20  82  86  74  74
2  87  99  23   2  21
3  52   1  87  29  37
4   1  63  59  20  32

In [4]:
rng = np.random.RandomState(42)
bingo = pd.DataFrame(rng.randint(0, 100, (5, 5)),
                  columns=['B', 'I', 'N', 'G', 'O'])
bingo

    B   I   N   G   O
0  51  92  14  71  60
1  20  82  86  74  74
2  87  99  23   2  21
3  52   1  87  29  37
4   1  63  59  20  32

In [5]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A #I also noticed that by calling the data set in a second line HERE, it gives you the output.

    A   B
0  11  11
1  16   9